@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}



/* Buttons */
.btn1{
    font-size: 1rem;
    font-weight: 400;
    background-color: #303054;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none !important;
    transition: all 0.5s;
}
.btn1:hover{
    background-color: #e6edff;
    color: #303054;
}




/* Donation Section */
.don-sec{
    background-color: #e6edff;
    padding: 150px 0;
}

.don-sec .don-box{
    margin: 50px 0;
    background-color: #fff;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 15px #b4afaf;
    transition: all 1s;
}

.don-sec .don-box img{
    width: 170px;
    height: 100px;
    transition: all 1s;
}

.don-sec .don-box h3{
    margin: 15px 0 10px;
}

.don-sec .don-box p{
    margin-bottom: 25px;
}

.don-sec .don-box:hover img{
    transform: scale(1.1);
}




#donation{
    height: 50px;
    width: 100%;
    padding: 0px 5px;
    border: none;
    outline: none;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 5px;
    color: rgb(73, 80, 87);
    font-weight: 400;
}